html, body, #app {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: auto;
    font-family: sans-serif;
}

.w-20 {width: 20% !important;}
.w-80 {width: 80% !important;}
.pr-21 {padding-right: 2.1rem !important;}
.pl-21 {padding-left: 2.1rem !important;}
.f-1 {font-size: 1rem !important;}
.f-1-1 {font-size: 1.1rem !important;}
.f-2 {font-size: 1.4rem !important;}
.bt-1 {border-top: 1px solid black;}
.b-0 {border: none;
    outline: none;}
.bg-purple {
    background-color: #073453;
    color: white;
}

.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-stack, .btn-lead {
    font-size: 0.65rem !important;
    font-weight: 800;
    width: 35% !important;
}
.bg-aqua {background-color: #3A8EC7 !important;}
.bg-grey {background-color: #C7C7C7 !important;}
.text-grey {color: rgb(128, 128, 128);}

.border-curve {
    border-radius: 38px 38px 0px 0px / 38px 38px 48px 31px;
    border: 2px solid white;
    padding: 2rem 1.3rem;
}

.stack-lead-btn a.active{
    background-color: #3A8EC7 !important;
    color: white !important;
}


.result-box div h6{
    font-size: 0.6rem;
}

.amount-text {
    background-color: #3ece13;
    border-radius: 30px;
    border: 2px solid white;
}
.slight-round-bord {
    border-radius: 12px;
    border: 2px solid grey;
}

.amount-field {
    border: 2px solid rgb(255, 255, 255);
}

.inc {
    font-weight: bolder;
}

.box{
    padding: 0.3rem;
    margin: 2px;
    background-color: #18335F;
    border-radius:0px;
 }

 .box h5{
    color: white;
    padding-left: 0.2rem;
  }

/* Filer bar */
#filter-bar {
    position: fixed;
    right: -250px;
    top: 0;
    background-color: #186E7F;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    z-index: 9999;
    padding: 10rem 1rem 3rem 1rem;
}

#close-filter {
    position: absolute;
    top: 0px;
    right: 15px;
    color: white;
    background-color: rgba(255, 235, 205, 0);
    border: none;
    font-size: 2rem;

}

#search-box {
    border-radius: 40px;
}

.filter-headers {
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
}

.ball {
    padding: 2.5rem 1rem;
    font-size: 2rem;
    color: #E50101;
}
.ball i {
    margin: 0 auto;
}
.d-flex h6{font-size: 0.7rem;}

.table th, .table td {padding: 0;}
.bold {font-weight: bold;}
.bold-1 {font-weight: bolder;}

.table th, .table td{
    margin-bottom: 0;
    font-size: 0.7rem;
}

.cus-bg-black {
    background-color: #0D0D0D;
    color: white;
    font-size: 1rem;
}

.bad {
    border: 1px solid red;
}

.good {
    border: 1px solid greenyellow;
}

.bg-home {
    background-image: url(../images/bg_home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-land {
    background-image: url(../images/bg_land.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-user {
    background-image: url(../images/bg_user.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-white {
    background-color: white;
}


.carousel-control-prev, .carousel-control-next {
    width: 29%;
}

.cal-font {
    font-size: 1.1rem;
}

.logo {
    letter-spacing: 0.3rem;
    font-size: 1.2rem !important;
    color: white;
    font-weight: 500;
}

.desc-header {
    font-weight: 800;
    font-size: 2.5rem;
}
/*GENERAL*/
.white-text {
    color: white;
}

.text-green{color: #3ece13;}

.clear-padding {
    padding-right: 0;
    padding-left: 0;
}

.profile-submit-btn {
    width: 80%;
    margin-top: 1em;
    border-radius: 2rem;
    padding: 0.5em;
   
}

.prof-form label, .withdaw-form label {
    color: white;
    font-size: 1.2rem;
}

/* LOGIN */
.signup-link {
    color: rgb(57, 185, 57);
}
.shades {
    background-color:rgba(26, 24, 24, 0.831);
    padding-bottom: 1rem;
}
.little-shade {
    background-color: rgba(26, 24, 24, 0.5);
    padding-bottom: 1rem;

}
.more-mt{
    margin-top: 4rem !important;
}

.extra-mt {
    margin-top: 8rem !important;
}

.cash-items {
    padding: 0.1rem 0 0.2rem 1rem;
    color: white;
    display: block;
    font-size: 1rem;
}

/* Login and Reg Bg */

.log-rg-bg {

    background-image: url(../images/bg_login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Regiteration */

.white-text {
    color: white;
}

.login-link {
    color: rgb(57, 185, 57);
}

/* Landing Navbar styles */
.bg-nav {
    background-color: #183462;
}
.nav-item a {
    color: white;
}

@media screen and (max-width: 360px) {
    .nav-item a {
        font-size: 0.8rem;
    }
}

/*  Play button */
.reduce-width-inline {
    width: 80% !important;
    display: inline-block;
}

.more-pt {
    padding: 3rem 1rem;
}

.clear-bg {
    background-color: transparent !important;
}



.end{
    width: 40%;
    margin: 2px;
    color: white;
}

.end-left{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #E50101;
    padding: 0.7rem 2rem;
    font-size: 0.9rem !important;
    font-weight: 100;
}

.end-right{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #171717;
    padding: 0.7rem 2rem;
    font-size: 0.9rem !important;
    font-weight: 100;
}


